* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffefe7;
  font-family: "IBM Plex Sans", sans-serif;
}

nav {
  width: auto;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #7c6a0a;
  padding: 15px;
}
nav p {
  font-size: 1.5em;
  padding-left: 30px;
}
nav .icons {
  display: flex;
  gap: 10px;
}
nav .icons button {
  background-color: none;
  border-style: none;
}

article {
  width: auto;
  padding: 50px 45px;
  color: #7c6a0a;
  display: flex;
  justify-content: space-between;
}
article .impact-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
article h1 {
  font-size: 3em;
}
article p {
  font-size: 1.5em;
}
article button {
  background-color: none;
  border-style: none;
}
article button {
  background-color: #fa9500;
  width: 10em;
  margin: 80px 0;
  padding: 20px;
  border-radius: 35px;
  cursor: pointer;
  color: white;
  font-size: 1em;
}
article img {
  width: 20em;
  border-radius: 10px;
}

section {
  width: 100%;
  height: auto;
  padding: 60px;
}
section h2 {
  color: #7c6a0a;
  font-size: 1.7em;
}
section .healthcare h2, section .furnture h2 {
  font-weight: 300;
  padding-bottom: 25px;
}
section .healthcare .card-section, section .furnture .card-section {
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}
section .healthcare .product-card, section .furnture .product-card {
  color: #7c6a0a;
  width: 18em;
  height: auto;
  background-color: #ffdac6;
  padding: 20px;
  border-radius: 8px;
}
section .healthcare .product-card .icon, section .furnture .product-card .icon {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.7em;
}
section .healthcare .product-card .icon svg path, section .furnture .product-card .icon svg path {
  stroke: #7c6a0a;
}
section .healthcare .product-card .product-image, section .furnture .product-card .product-image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .healthcare .product-card .product-image img, section .furnture .product-card .product-image img {
  width: 14em;
  height: auto;
  background-size: cover;
  border-radius: 6px;
}

.furnture .card-section .product-card {
  background-color: #babd8d;
  color: white;
}
.furnture .card-section .product-card .icon svg path {
  stroke: white;
}

.info-section .about-us h2 {
  font-weight: bold;
  padding-bottom: 60px;
}
.info-section .about-us .mision-section {
  display: flex;
  flex-direction: center;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 70px;
  color: #fa9500;
}
.info-section .about-us .mision-section .earth, .info-section .about-us .mision-section .focus {
  gap: 15px;
  width: 25em;
  display: flex;
  align-items: center;
}
.info-section .about-us .mision-section .earth p, .info-section .about-us .mision-section .focus p {
  text-align: center;
}
.gallery .gallery-section {
  padding: 40px 0;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery .gallery-section .galley-image {
  width: 395px;
  height: 395px;
}
.gallery .gallery-section .galley-image img {
  width: 20em;
  height: 100%;
  border-radius: 7px;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .gallery-section .galley-image img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.locattion {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.locattion .map {
  padding: 20px 0;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
}
.locattion h3 {
  color: #7c6a0a;
  font-size: 1.8em;
}
.locattion p {
  color: #7c6a0a;
  font-size: 1em;
}

footer {
  background-color: #fa9500;
  width: auto;
  height: auto;
  padding: 3em;
  color: white;
}
footer .careers {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .careers h3 {
  padding-bottom: 20px;
  font-size: 2em;
  font-weight: 300;
}
footer .footer-social {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}

@media (min-width: 1500px) {
  body {
    margin: 0 auto;
    max-width: 1440px;
  }
}/*# sourceMappingURL=main.css.map */