@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $primary-color;
  font-family: $font-stack;
}

nav {
  width: auto;
  height: 100px;
  @include flexCenter(row, space-between, center);
  color: $primary-text-color;
  padding: 15px;
  p {
    font-size: $paragraph-font-size;
    padding-left: 30px;
  }
  .icons {
    display: flex;
    gap: 10px;
    @include buttonStyle;
  }
}

article {
  width: auto;
  padding: 50px 45px;
  color: $primary-text-color;
  @include flexCenter(null, space-between, null);
  .impact-section {
    @include flexCenter(column, null, null);
    gap: 25px;
  }
  h1 {
    font-size: 3em;
  }
  p {
    font-size: $paragraph-font-size;
  }
  @include buttonStyle;
  button {
    background-color: $quaternary-color;
    width: 10em;
    margin: 80px 0;
    padding: 20px;
    border-radius: 35px;
    cursor: pointer;
    color: white;
    font-size: 1em;
  }
  img {
    width: 20em;
    border-radius: 10px;
  }
}
// CARD SECTION
section {
  width: 100%;
  height: auto;
  padding: 60px;
  h2 {
    color: $primary-text-color;
    font-size: 1.7em;
  }
  .healthcare {
    h2 {
      font-weight: 300;
      padding-bottom: 25px;
    }
    .card-section {
      padding-bottom: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 50px;
    }
    .product-card {
      color: $primary-text-color;
      width: 18em;
      height: auto;
      background-color: $secondary-color;
      padding: 20px;
      border-radius: 8px;
      .icon {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 0.7em;
        svg path {
          stroke: $primary-text-color;
        }
      }
      .product-image {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 14em;
          height: auto;
          background-size: cover;
          border-radius: 6px;
        }
      }
    }
  }
}
.furnture {
  @extend .healthcare;
  .card-section {
    .product-card {
      background-color: $tertiary-color;
      color: white;
      .icon {
        svg path {
          stroke: white;
        }
      }
    }
  }
}
// ESTILOS DE SECTION
.info-section {
  .about-us {
    h2 {
      font-weight: bold;
      padding-bottom: 60px;
    }
    .mision-section {
      @include flexCenter(center, space-around, center);
      padding-bottom: 70px;
      color: $quaternary-color;
      .earth {
        gap: 15px;
        width: 25em;
        display: flex;
        align-items: center;
        p {
          text-align: center;
        }
      }
      .focus {
        @extend .earth;
      }
    }
  }
}
// GALLERY
.gallery {
  .gallery-section {
    padding: 40px 0;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .galley-image {
      width: 395px;
      height: 395px;
      img {
        width: 20em;
        height: 100%;
        border-radius: 7px;
        object-fit: cover;
        &:hover {
          transform: scale(1.05);
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}
// MAPA
.locattion {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .map {
    padding: 20px 0;
    @include flexCenter(center, center, center);
  }
  h3 {
    color: $primary-text-color;
    font-size: 1.8em;
  }
  p {
    color: $primary-text-color;
    font-size: 1em;
  }
}
footer {
  background-color: $quaternary-color;
  width: auto;
  height: auto;
  padding: 3em;
  color: white;
  .careers {
    h3 {
      padding-bottom: 20px;
      font-size: 2em;
      font-weight: 300;
    }
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer-social {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
  }
}

@media (min-width: 1500px) {
  body {
    margin: 0 auto;
    max-width: 1440px;
  }
}
